<?xml version="1.0" encoding="UTF-8"?>
<configuration> 

	<springProperty scope="context" name="logfile.home" source="app.logfile.home"/>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) [%thread] [%yellow(%X{X-B3-TraceId}),%green(%X{X-B3-SpanId}),%blue(%X{X-B3-ParentSpanId})] %logger{20}: %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 时间滚动输出 level为 warn 日志 -->
    <appender name="WARNFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>/work/logs/error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<FileNamePattern>/work/logs/error.%d{yyyy-MM-dd}-%i.zip</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        	<!-- 单个日志文件size上限 -->
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %highlight(%-5level) [%thread] [%yellow(%X{X-B3-TraceId}),%green(%X{X-B3-SpanId}),%blue(%X{X-B3-ParentSpanId})] %logger{20}: %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

     <!-- 时间滚动输出 level为 INFO 日志 -->
    <appender name="INFOFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>/work/logs/debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        	<!-- 非当天的日志文件压缩备份为.gz -->
        	<FileNamePattern>/work/logs/debug.%d{yyyy-MM-dd}-%i.zip</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <!-- 日志文件总和size上限 -->
            <totalSizeCap>10GB</totalSizeCap>
        	<!-- 单个日志文件size上限 -->
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>100MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date %highlight(%-5level) [%thread] [%yellow(%X{X-B3-TraceId}),%green(%X{X-B3-SpanId}),%blue(%X{X-B3-ParentSpanId})] %logger{20}: %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="WARNFILE" />
        <appender-ref ref="INFOFILE" />
    </root>

</configuration>